{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <!-- começar::Cabeçalho -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Dashboard{% endblock title %}</title><!-- começar :: Meta Tags de Acessibilidade -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#007bff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)" />
    <!-- fim::Meta Tags de Acessibilidade -->
    <!-- início::Meta Tags Primárias -->
    <meta name="title" content="WL Services | Dashboard" />
    <meta name="author" content="WL Services" />
    <meta name="description" content="WL Services é uma empresa focada em criar soluções tecnologicas para terceiros." />
    <meta name="keywords" content="TI, tecnologia, erp, tecnologia da informacao, gerenciador de vendas, sistema de gerenciamento de empresas, empresa de tecnologia, serviços de tecnologia, sistema, django, sistema em django" />
    <!-- fim::Meta tags primárias -->
    <!-- início::Recursos de acessibilidade -->
    <!-- Os links de navegação serão adicionados dinamicamente pelo accessibility.js -->
    <meta name="supported-color-schemes" content="light dark" />
    <!-- Css -->
    <link rel="preload" href="{% static 'global/css/adminlte.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- end::Accessibility Features -->
    <!-- begin::Fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous" media="print" onload="this.media='all'" />
    <!-- fim::Fontes -->
    <!-- início::Plugin de terceiros (OverlayScrollbars) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css" crossorigin="anonymous" />
    <!-- fim::Plugin de terceiros (barras de rolagem de sobreposição) -->
    <!-- começo::Plugin de terceiros (ícones do Bootstrap) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" crossorigin="anonymous" />
    <!-- fim::Plugin de terceiros (ícones do Bootstrap) -->
    <!-- begin::Plugin obrigatório (AdminLTE) -->
    <link rel="stylesheet" href="{% static 'global/css/adminlte.css' %}" />
    <!-- fim::Plugin necessário(AdminLTE) -->
    <!-- apexcharts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css" integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0=" crossorigin="anonymous" />
    <!-- jsvectormap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/css/jsvectormap.min.css" integrity="sha256-+uGLJmmTKOqBr+2E6KDYs/NRsHxSkONXFHUL0fy2O/4=" crossorigin="anonymous" />
    <!-- Favicon-->
    
  </head> 
  <!-- fim::Cabeçalho --> 

  <!-- começo :: Corpo -->
  <body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
    <!-- Começo ::App Wrapper -->
    <div class="app-wrapper">
      <!-- Começo ::Header -->
      <nav class="app-header navbar navbar-expand bg-body">
        <!-- Começo ::Container -->
        <div class="container-fluid">
          <!-- Começo ::Start Navbar Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"><i class="bi bi-list"></i></a>
            </li>
          </ul> 
          <!-- Fim ::Start Navbar Links --> 
          <!-- Começo ::End Navbar Links -->
          <ul class="navbar-nav ms-auto">
            <!-- begin::Navbar Search -->
            <!-- begin::Messages Dropdown Menu -->
            <!-- begin::Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
              <a class="nav-link" data-bs-toggle="dropdown" href="#"><i class="bi bi-bell-fill"></i> <span class="navbar-badge badge text-bg-warning">15</span></a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                  <i class="bi bi-envelope me-2"></i> 4 new messages
                  <span class="float-end text-secondary fs-7">3 mins</span>
                </a>
                <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                  <i class="bi bi-people-fill me-2"></i> 8 friend requests
                  <span class="float-end text-secondary fs-7">12 hours</span>
                </a>
                <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                  <i class="bi bi-file-earmark-fill me-2"></i> 3 new reports
                  <span class="float-end text-secondary fs-7">2 days</span>
                </a>
                <div class="dropdown-divider"></div> <a href="#" class="dropdown-item dropdown-footer">Ver todas as notificações</a>
              </div>
            </li> <!-- end::Notifications Dropdown Menu --> <!-- begin::Fullscreen Toggle -->
            <li class="nav-item">
              <a class="nav-link" href="#" data-lte-toggle="fullscreen"><i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i> <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none;"></i></a>
            </li> <!-- end::Fullscreen Toggle --> <!-- begin::User Menu Dropdown -->
            <li class="nav-item dropdown user-menu">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="d-none d-md-inline">{{ user.username }}</span></a>
              <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                <!-- begin::User Image -->
                <li class="user-header text-bg-primary">
                  <img src="{% static 'global/img/icon_user.png' %}" class="rounded-circle shadow" alt="User Image" />
                  <p>
                    Usuário: {{ user.username }} <br> Empresa: {{ user.company.name }}
                    <small>ID - {{ user.id}}</small>
                  </p>
                </li> <!-- end::User Image --> <!-- begin::Menu Body -->
                <!-- begin::Menu Footer -->
                <li class="user-footer">
                  <a href="#" class="btn btn-default btn-flat">Perfil <i class="ms-1 nav-icon bi bi-person-fill"></i></a>
                  <form action="{% url 'accounts:logout' %}" method="post" class="float-end">
                    {% csrf_token %}
                    <button class="btn btn-default btn-flat float-end"> Sair   <i class="ms-1 nav-icon bi bi-box-arrow-right"></i></button>
                  </form>
                </li> <!-- end::Menu Footer -->
              </ul>
            </li> <!-- end::User Menu Dropdown -->
          </ul> <!-- end::End Navbar Links -->
        </div> <!-- end::Container -->
      </nav> <!-- end::Header --> <!-- begin::Sidebar -->
      <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!-- begin::Sidebar Brand -->
        <div class="sidebar-brand">
          <!-- begin::Brand Link --> <a href="{% url 'core:dashboardview' %}" class="brand-link"><!-- begin::Brand Image --> <img src="{% static 'global/img/logo.png' %}" alt="Logo" class="brand-image opacity-75" /> <!-- end::Brand Image --> <!-- begin::Brand Text --> <span class="brand-text fw-light">SAAS EXPRESS</span> <!-- end::Brand Text --></a> <!-- end::Brand Link -->
        </div>
        <!-- end::Sidebar Brand --> <!-- begin::Sidebar Wrapper -->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!-- begin::Sidebar Menu -->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation" data-accordion="false" id="navigation">
              <li class="nav-item menu-open">
                <a href="{% url 'core:dashboardview' %}" class="nav-link active">
                  <i class="nav-icon bi bi-columns-gap"></i>
                  <p>Dashboard</p>
                </a>
                <a href="{% url 'products:product_list' user.company.slug %}" class="nav-link active">
                  <i class="nav-icon bi bi-eyeglasses"></i>
                  <p>Produtos</p>
                </a>
              </li>
            </ul> <!-- end::Sidebar Menu -->
          </nav>
        </div> <!-- end::Sidebar Wrapper -->
      </aside> <!-- end::Sidebar --> <!-- begin::App Main -->
      <main class="app-main">
        <!-- begin::App Content Header -->
        <div class="app-content-header">
          <!-- begin::Container -->
          <div class="container-fluid">
            <!-- begin::Row -->
            <div class="row">
              <div class="col-sm-6">
                <!-- Espaço entre o topo e cards -->
              </div>
            </div> <!-- end::Row -->
          </div> <!-- end::Container -->
        </div> <!-- end::App Content Header --> <!-- begin::App Content -->
        <div class="app-content">
          <!-- begin::Container -->
          <h2 class="text-center">
            {%block title_content %}
            {% endblock title_content %}
          </h2>
          <div class="container-fluid">
            {% block content %}
            <!-- Conteúdo principal do dashboard -->
            {% endblock content %}
          </div> <!-- end::Container -->
        </div> <!-- end::App Content -->
      </main> <!-- end::App Main --> <!-- begin::Footer -->
      <footer class="app-footer">
        <!-- begin::To the end -->
        <div class="float-end d-none d-sm-inline"><i class="bi bi-clock"></i> <span id="current-time"></span></div> <!-- end::To the end --> <!-- begin::Copyright -->
        <strong>
          Copyright &copy; 09/2025&nbsp;
          <a href="/" class="text-decoration-none">SAAS EXPRESS</a>.
        </strong>
        Todos os direitos reservados.
        <!-- end::Copyright -->
      </footer> <!-- end::Footer -->
    </div> <!-- end::App Wrapper --> <!-- begin::Script --> <!-- begin::Third Party Plugin(OverlayScrollbars) -->
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/browser/overlayscrollbars.browser.es6.min.js" crossorigin="anonymous"></script>
    <!-- end::Third Party Plugin(OverlayScrollbars) -->
    <!-- begin::Required Plugin(popperjs for Bootstrap 5) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- end::Required Plugin(popperjs for Bootstrap 5) -->
    <!-- begin::Required Plugin(Bootstrap 5) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- end::Required Plugin(Bootstrap 5) -->
    <!-- begin::Required Plugin(AdminLTE) -->
    <script src="{% static 'global/js/adminlte.js' %}"></script>
    <!-- end::Required Plugin(AdminLTE) -->
    <!-- begin::OverlayScrollbars Configure -->

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js" integrity="sha256-+vh8GkaU7C9/wbSLIcwq82tQ2wTf44aOHA8HlBMwRI8=" crossorigin="anonymous"></script> <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/js/jsvectormap.min.js" integrity="sha256-/t1nN2956BT869E6H4V1dnt0X5pAQHPytli+1nTZm2Y=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/maps/world.js" integrity="sha256-XPpPaZlU8S/HWf7FZLAncLg2SAkP8ScUTII89x9D3lY=" crossorigin="anonymous"></script>
    <script src="{% static 'global/js/scripts.js' %}"></script>
    <script src="{% static 'global/js/data_hora.js' %}"></script>
  </body>
  <!-- end::Body -->
</html>
