.formulario{
    margin-bottom: 10px;
    min-width: 200px;
}

.form-block {
    display: flex;
    gap: 10px;
}

.card{
    margin: 0 auto;
    width: max-content;
    margin: auto;
}

.login-card-body{
    width: fit-content;
    max-width: 300px;
}

.register-card-body{
    width: fit-content;
    max-width: 450px;
}

.login-box{
    width: 100%;
}