{% extends "global/base.html" %}

{% block style %}
<style>
    /* Este estilo aplica-se a TODOS os inputs e textareas dentro de um formulário */
    form input, /* Seleciona qualquer tipo de input */
    form textarea { /* Seleciona textareas */
        width: 60%; /* Ocupa 100% da largura do contêiner pai */
        border: 1px solid #ccc; /* Adiciona uma borda sutil */
        border-radius: 4px; /* Arredonda os cantos */
    }
</style>
{% endblock %}

{% block title %} {{ company.name }} | Produtos {% endblock title %}

{% block title_content %} {{content_title}} {% endblock title_content %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="post">
                    <div class="header">
                        <h2>
                            <a href="{{return_url}}" class="btn_return"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
                        </h2>
                        <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>
                    </div>
                
                    {% csrf_token %}
                    <div class="body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tab-content row g-3">
                                <!-- Começo da Linha 1 -->
                                <div class="input-group col-12">
                                    <span class="input-group-text">
                                        {{form.description.label_tag}}
                                    </span>
                                    {{ form.description }}
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{ form.category.label_tag }}
                                    </span>
                                    {{ form.category }}
                                    <a href="{{add_category}}" class="btn btn-sm btn-primary ms-2"><i class="material-icons">&#xE148;</i></a>
                                </div>
                                
                                <!-- Termino da Linha 1 -->

                                <!-- Começo da Linha 2 -->
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.marca.label_tag}}
                                    </span>
                                    {{ form.marca }}
                                    <a href="{{add_marca}}" class="btn btn-sm btn-primary ms-2"><i class="material-icons">&#xE148;</i></a>
                                </div>

                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.cost_price.label_tag}}
                                    </span>
                                    {{ form.cost_price }}
                                </div>

                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.sale_price.label_tag}}
                                    </span>
                                    {{ form.sale_price }}
                                </div>
                                <!-- Termino da Linha 2 -->

                                <!-- Começo da Linha 3 -->
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.unit.label_tag}}
                                    </span>
                                    {{ form.unit }}
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.quantity.label_tag}}
                                    </span>
                                    {{ form.quantity }}
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.min_stock_level.label_tag}}
                                    </span>
                                    {{ form.min_stock_level }}
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.local.label_tag}}
                                    </span>
                                    {{ form.local }}
                                </div>
                                <!-- Termino da Linha 3 -->

                                <!-- Começo da Linha 5 -->
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.reference.label_tag}}
                                    </span>
                                    {{ form.reference }}
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.ean.label_tag}}
                                    </span>
                                    {{ form.ean }}
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="input-group-text">
                                        {{form.sku.label_tag}}
                                    </span>
                                    {{ form.sku }}

                                </div>
                                <!-- Termino da Linha 4 -->
                            </div>
                        </div>
                        {% include 'global/menssage.html' %}
                        {{ form.company }}
                        <button class="btn btn-success foot-btn" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

