{% extends 'global/base.html' %}

{% block title %}{{company.name}} | Produtos{% endblock title %}

{% block title_content %}{{content_title}}{% endblock title_content %}

{% block content %}
    <h2>
        <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
    </h2>
    
    <p>Empresa: {{ company.name }}</p>
    <p>Descrição: {{ product.description }}</p>
    <p>SKU: {{ product.sku }}</p>
    <p>Quantidade em Estoque: {{ product.quantity }}</p>
    <p>Preço de Venda: R$ {{ product.sale_price }}</p>
    <p>Categoria: {{ product.category }}</p>
    <p>Ativo: {{ product.is_active|yesno:"Sim,Não" }}</p>

    <p>
        <a href="{% url 'products:product_update' company_slug=company.slug pk=product.pk %}">Editar</a> |
        <a href="{% url 'products:product_delete' company_slug=company.slug pk=product.pk %}">Excluir</a>
    </p>
    <p><a href="{% url 'products:product_list' company_slug=company.slug %}">Voltar para a lista de produtos</a></p>

{% endblock %}